[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
scikit-learn = "*"
jupyter = "*"
matplotlib = "*"
nltk = "*"
pandas = "*"
textblob = "*"
gensim = "*"

[requires]
python_version = "3.6"
